* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #faeab1;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.input-area {
  display: flex;
  flex-direction: column;
  background-color: #c58940;
  padding: 3rem 4rem;
  border-radius: 1rem;
  gap: 1rem;
}

input {
  text-align: center;
  height: 30px;
  font-size: 1.2rem;
}

.btn {
  width: 100px;
  height: 30px;
  border: solid 0.5px black;
  font-weight: bold;
  border-radius: 1rem;
  background-color: lightgray;
}
