* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  height: 100vh;
  /* padding: 2rem; */
  background-image: url(./background_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1,
.currentTemp {
  text-align: center;
  padding: 2rem;
}

.getInfo {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

section {
  display: flex;
}

.displayCity {
  font-size: 2rem;
  font-weight: bold;
}

.displayTemp {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
}

.displaySky {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .displaySky {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  aside {
    font-size: 1.5rem;
  }
  .currentTemp {
    padding: 1rem;
  }
}
