body {
  background-color: rgb(191, 220, 229);
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 1rem;
  border: 0.5rem solid black;
  border-radius: 1rem;
  background-color: rgb(13, 13, 212);
}

li {
  font-weight: bold;
  margin: 1rem;
  list-style-type: none;
  padding: 0;
}

.input-box {
  margin: 1rem;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.add-todo-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.component-border {
  margin: 1rem;
  border: 4px solid black;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .App {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
